<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github</title>
</head>
<body>
    <h1>Hello</h1>
    <p>Город: {{main_data['Город']}}</br>
    Район: {{main_data['Район']}}</br>
    Компания: {{main_data['Компания']}}</br>
    Имя: {{Имя}}</br>
    Возраст: {{Возраст}}</br>
    Специализация: {{Специализация}}</p>
    <ul>
        <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
    </ul>
</body>
</html>